* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0;
}

.header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.btn {
    background-color: #3e6bbd;
    border-radius: 5px;
    color: white;
    font-size: 1.7rem;
    padding: 6px 7px;
    border: none;
}

.btn-outline {
    background-color: white;
    color: #3e6bbd;
    border-style: solid;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn:hover{
    background-color: #274275;
}

.btn-outline:hover{
    background-color: #3e6bbd;
    color: white;
}

.content {
    font-size: 2rem;
    color: #274275;
}

.article {
    border-style: solid;
    border-radius: 6px;
    padding: 4px 4px;
}

.article:hover {
    background-color: lightgrey;
}

.footer {
    text-align: center;
    font-size: 1.5rem;
}

.input__text {
    font-size: 1.8rem;
    color: #274275;
    border-style: solid;
    border-color: #3e6bbd;
    border-radius: 6px;
    padding: 4px 4px;
    margin-top: 4px;
}

.table {
    border-style: solid solid;
    border-color: #3e6bbd;
    border-radius: 6px;
    font-size: 1.8rem;
    margin-top: 4px;
}

.article__store {
    font-size: 1.5rem;
    color: #274275;
    border-style: solid;
    border-color: #3e6bbd;
    border-radius: 6px;
    padding: 6px 6px;
    max-width: 150px;
    justify-content: space-between;
    display: inline-block;
    margin-right: 20px;
}

.article-sales {
    font-size: 2rem;
    margin-top: 6px;
}

.article-sales ul {
    font-size: 1.6rem
}